<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Single Item</title>
      <!--  CSS Supporting FIles  -->
          <link href="../static/files/css/bootstrap.min.css" rel="stylesheet">
          <link rel="stylesheet" href="../static/files/css/lightslider.css">
          <link rel="stylesheet" href="../static/files/css/style.css">
          <link rel="stylesheet" href="../static/files/css/footer.css">
          <!--  JS  Supporting FIles    -->
          <script src="../static/files/js/bootstrap.bundle.min.js"></script>
          <script src="../static/files/js/jquery.js"></script>
          <script src="../static/files/js/lightslider.js"></script>
          <script src="../static/files/js/script.js"></script>
</head>
<body>
{% include 'navbar.html' %}


    <div class="container">
        <div class="w-100">
<!--            {{product}}-->
<!--            the product variable holds records of a single product-->
            <div class="card">
                <section class="row">
                <div class="col-md-5">
                     <img style="height:250px;" class="img-fluid w-100" src="../static/images/{{product[5]}}">
                </div>
                <div class="col-md-6">
                    <div class="card-body">
                    <h2 class="card-title">{{product[1]}}</h2>
                    <b class="text-primary">Description</b>
                    <p class="text-secondary">{{product[4]}}</p>
                    <i class="text-info"><b class="text-danger">COST</b>&nbsp;&nbsp; {{product[2]}}</i>

                </div>
                </div>
                     </section>
            </div>
        </div>
    </div>




</body>
</html>